Django
psycopg2
djangorestframework
django-extensions
six
django-cors-middleware
requests
djangorestframework-jwt
uwsgi
dj-database-url
mypy
django-debug-toolbar
slotomania


flake8
yapf
ipython
pytest
pytest-django
pytest-cov
